{% extends 'GregPFBundle::layout.html.twig' %}
{%block content%}
<div id="contenu">
 HELLO THE DEAR MASTER	
 here my <a href="{{asset('document/cerfa_14882-01.pdf')}}">Curriculum Vitae</a>
</div><!-- #contenu -->

{%endblock%}