{% extends 'GregPFBundle::layout.html.twig' %}
{%block content%}
<div id="contenu">
		<h2>Qui suis-je ?</h2>
                
                <p>Je me nomme Guyon Grégory,</p>
                
                
                <p>Je suis actuellement en seconde année de BTS SIO (Services Informatiques aux Organisations) spécialité SISR (Solutions d’Infrastructure, Systèmes et Réseaux) ancien BTS IG (Informatique de Gestion). </p>

                   
                <p>Cette formation me permet d'acquérir des compétences dans la programmation, la sécurité des réseaux, les bases de données et surtout la maintenance d’un système d’information dans une entreprise.</p>
                
                <h3>Option :</h3>
                
                <p>Solutions logicielles et applications métiers </p>
                



	</div><!-- #contenu -->

{%endblock%}